table#result button {
  font-size: 3rem;
  margin-right: 1rem
}

article {
  color: #707070;
  margin-top: 2rem
}

img {
  max-width: 100%
}

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
